<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Jian Cui's weather integration demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>





<p th:text="'Hello, ' + ${wr.getMessage()} + '!'" />
<p th:text="'Overall description: ' + ${wr.getOverallDescription()} " />
<p th:text="'City Name: ' + ${wr.getCityName()} " />
<p th:text="'Today date: ' + ${wr.getTodayDate()} " />
<p th:text="'Sun rise at: ' + ${wr.getSunRiseInTwleveHoursFormat()} +  ' sun set at: ' +  ${wr.getSunSetInTwleveHoursFormat()}" />
<p th:text="'Temperature: ' + ${wr.getTemperatureDisplayInCelsius()} +  ' or ' +  ${wr.getTemperatureDisplayInFahrenheit()}" />

    <form method="get" action="/weatherByCityName">

        <table th:bgcolor="lightgray">
            <tr>
                <td th:cols="2"><th:block th:align="center">select or input city and get weather</th:block></td>
            </tr>
            <tr>
                <td>Please input the city name for weather: </td>
                <td>
                    <input name="cityName" type="text">
                </td>
            </tr>
        </table>
        <BUTTON>Find out Weather</BUTTON>
    </form>

</body>
</html>